.container {
  margin-top: 5rem;
}

.bar {
  border-radius: 5rem;
  display: inline-block;
  width: 10px;
  margin: 0 2px;
}

.button {
  background: #ffffff;
  border-radius: 5px;
  border: none;
  display: inline-block;
  margin: 1rem;
  margin-top: 2rem;
  padding: 20px;
  transition: all 0.4s ease 0s;
}

.button:hover {
  color: #ffffff;
  cursor: pointer;
  background: #f6b93b;
  border-color: #f6b93b;
  transition: all 0.4s ease 0s;
}

.info {
  color: white;
}

.subtitle {
  color: white;
  font-style: italic;
}

.title {
  color: white;
  font-size: 2rem;
  margin-top: 4rem;
}

@media screen and (max-width: 780px) {
  .bar {
    width: 8px;
  }
}

@media screen and (max-width: 700px) {
  .bar {
    width: 6px;
  }
}

@media screen and (max-width: 600px) {
  .bar {
    width: 5px;
  }
}

@media screen and (max-width: 520px) {
  .bar {
    width: 4px;
  }
}

@media screen and (max-width: 470px) {
  .bar {
    width: 3px;
  }
}

@media screen and (max-width: 430px) {
  .bar {
    width: 2px;
  }
}

@media screen and (max-width: 380px) {
  .bar {
    width: 1px;
  }
}

@media screen and (max-width: 320px) {
  .bar {
    width: 1px;
    margin: 0 1px;
  }
}
